<html ng-app="appAngular">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{titleWeb}}</title>
    <!-- Materials icons -->
    <link href="stylesheets/fontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Javascript Libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <link rel="stylesheet" href="general-styles/chat.css">
    <!-- BootBox -->
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/ngBootbox/dist/ngBootbox.js"></script>
    <!-- This Script concatenate all the file in the  folder /public/javascripts/ -->
    <script type="text/javascript" src="includes/concat.js"></script>
    <script type="text/javascript" src="includes/angular-table.min.js"></script>
    <script type="text/javascript" src="includes/angular-drag-and-drop-lists.js"></script>
    <script src="includes/socket.io-1.3.7.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="includes/optimumModel.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- UI-SELECT -->
    <script type="text/javascript" src="bower_components/ui-select/dist/select.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/ui-select/dist/select.css">
    <!-- EXTRAS CSS -->
    <link rel="stylesheet" href="nice-admin/css/bootstrap-theme.css">
    <link rel="stylesheet" href="nice-admin/css/elegant-icons-style.css">
    <link href="nice-admin/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="nice-admin/css/style.css">
    <link rel="stylesheet" href="nice-admin/css/style-responsive.css">
    <!-- EXTRAS JS -->
    <!-- nice scroll -->
    <script src="nice-admin/js/jquery.scrollTo.min.js"></script>
    <script src="nice-admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--<script src="nice-admin/js/bootstrap-filestyle.js" type="text/javascript"></script>-->
    <!--custome script for all page-->
    <script src="nice-admin/js/scripts.js"></script>
    <!-- UI Bootsrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

</head>

<body>

<!-- container section start -->
<section id="container" class="" ng-show="route" ng-controller="bootstrapController">
    <!--header start-->

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                        class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="" class="logo">{{project.name}}</a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" placeholder="Search" type="text">
                    </form>
                </li>
            </ul>
            <!--  search form end -->
        </div>

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">

                <!-- task notificatoin start -->
                <li id="task_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <span class="icon-task-l"></i>
                                <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="blue">You have 5 pending tasks</p>
                        </li>
                        <li>
                            <a href="">
                                <div class="task-info">
                                    <div class="desc">Design PSD</div>
                                    <div class="percent">90%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                        <span class="sr-only">90% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="task-info">
                                    <div class="desc">
                                        Project 1
                                    </div>
                                    <div class="percent">30%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                        <span class="sr-only">30% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="task-info">
                                    <div class="desc">Digital Marketing</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="task-info">
                                    <div class="desc">Logo Designing</div>
                                    <div class="percent">78%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                        <span class="sr-only">78% Complete (danger)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="task-info">
                                    <div class="desc">Mobile App</div>
                                    <div class="percent">50%</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 50%">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="external">
                            <a href="">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- task notificatoin end -->
                <!-- inbox notificatoin start-->
                <li id="mail_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        <i class="icon-envelope-l"></i>
                        <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="blue">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="">
                                <span class="photo"><img alt="avatar" src="nice-admin/img/avatar-mini.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Greg  Martin</span>
                                    <span class="time">1 min</span>
                                    </span>
                                    <span class="message">
                                        I really like this admin panel.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="photo"><img alt="avatar" src="nice-admin/img/avatar-mini2.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Bob   Mckenzie</span>
                                    <span class="time">5 mins</span>
                                    </span>
                                    <span class="message">
                                     Hi, What is next project plan?
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="photo"><img alt="avatar" src="nice-admin/img/avatar-mini3.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Phillip   Park</span>
                                    <span class="time">2 hrs</span>
                                    </span>
                                    <span class="message">
                                        I am like to buy this Admin Template.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="photo"><img alt="avatar" src="nice-admin/img/avatar-mini4.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Ray   Munoz</span>
                                    <span class="time">1 day</span>
                                    </span>
                                    <span class="message">
                                        Icon fonts are great.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox notificatoin end -->
                <!-- alert notification start-->
                <li id="alert_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">

                        <i class="icon-bell-l"></i>
                        <span class="badge bg-important">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="blue">You have 4 new notifications</p>
                        </li>
                        <li>
                            <a href="">
                                <span class="label label-primary"><i class="icon_profile"></i></span>
                                Friend Request
                                <span class="small italic pull-right">5 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="label label-warning"><i class="icon_pin"></i></span>
                                John location.
                                <span class="small italic pull-right">50 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                Project 3 Completed.
                                <span class="small italic pull-right">1 hr</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="label label-success"><i class="icon_like"></i></span>
                                Mick appreciated your work.
                                <span class="small italic pull-right"> Today</span>
                            </a>
                        </li>
                        <li>
                            <a href="">See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- alert notification end-->
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <span class="profile-ava">
                                <img alt="" src="nice-admin/img/avatar1_small.jpg">
                            </span>
                        <span class="username">{{user.username}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="#/"><i class="icon_profile"></i> My Profile</a>
                        </li>
                        <li>
                            <a href=""><i class="icon_mail_alt"></i> My Inbox</a>
                        </li>
                        <li>
                            <a href=""><i class="icon_clock_alt"></i> Timeline</a>
                        </li>
                        <li>
                            <a href=""><i class="icon_chat_alt"></i> Chats</a>
                        </li>
                        <li>
                            <a href="" ng-click='logout()'><i class="icon_key_alt"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="sub-menu">
                    <a href="" class="">
                        <i class="icon_document_alt"></i>
                        <span>General</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="#/userList">User List</a></li>
                        <li ng-if="user.rol >= 4"><a class="" href="#/Audit">Audit</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="" class="">
                        <i class="icon_desktop"></i>
                        <span>Menu</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li ng-repeat="menu in menus"><a class="" href="#/{{menu.name}}">{{menu.name}}</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="">
                        <i class="icon_genius"></i>
                        <span>Widgets</span>
                    </a>
                </li>
                <li>
                    <a class="" href="">
                        <i class="icon_piechart"></i>
                        <span>Charts</span>

                    </a>

                </li>
                <li class="sub-menu ">
                    <a href="" class="">
                        <i class="icon_documents_alt"></i>
                        <span>Pages</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="">Profile</a></li>
                        <li><a class="" href=""><span>Login Page</span></a></li>
                        <li><a class="" href="">Blank Page</a></li>
                        <li><a class="" href="">404 Error</a></li>
                    </ul>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- #Proyects views -->
            <div ng-if="route">
                <ng-view></ng-view>
            </div>
            <!-- /#Proyects views -->
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section end -->

<!-- #login -->
<section ng-if="!route">
    <ng-view></ng-view>
</section>
<!-- /#login -->

<footer id="footer" ng-show="route" ng-if="user.rol == 5">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#"><img class="logoMean" src="../../../setup/public/imgs/meanlogowhite.png" alt="MEANCASE"></a></li>

            <li class="dropup" role="presentation">
                <a class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-paint-brush"></i> Templates
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#/uploadTemplates">Upload Template</a></li>
                    <li><a href="#/selectTemplates">Change Template</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="#/crud"><i class="fa fa-archive"></i> Crud Generator</a></li>
            <li role="presentation"><a href="#/relationship"><i class="fa fa-arrows-v"></i> Relationships</a></li>
            <li role="prestation"><a href="#/listSchemas"><i class="fa fa-table"></i> List Schemas</a></li>
            <li role="prestation"  ng-if="project.projectType == 2"><a href="#/exportProject"><i class="fa fa-expand"></i> Export Project</a></li>
        </ul>
    </div>
</footer>
</body>

</html>